.git
.settings
.project
.metadata
bin
VOC2012
result
classified
JOpenSurf
RemoteSystemsTempFiles
OBIR_*/bin
OBIR_*/.git
OBIR_*/.settings
OBIR_*/.project
OBIR_*/VOC2012
OBIR_*/result
OBIR_*/classified
OBIR_*/test
OBIR_*/logs
OBIR_*/*.log
